# **MODULE**

In [ ]:
!pip install wordninja

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: wordninja in /usr/local/lib/python3.10/dist-packages (2.0.0)

In [ ]:
import pandas as pd
import numpy as np
import re
import nltk
from nltk.corpus import words, stopwords
import wordninja
from google.colab import files
from nltk.stem.wordnet import WordNetLemmatizer

# **Dataset**

In [ ]:
ds = 'https://raw.githubusercontent.com/bloodsking/Capstone-Bangkit/main/dsfix.csv'
ds1 = 'https://raw.githubusercontent.com/bloodsking/Capstone-Bangkit/main/removedonly.csv'
ds2 = 'https://raw.githubusercontent.com/bloodsking/Capstone-Bangkit/main/seperateonly.csv'
ds3 = 'https://raw.githubusercontent.com/bloodsking/Capstone-Bangkit/main/seperatedandremoved.csv'

In [ ]:
data = pd.read_csv(ds)

In [ ]:
data

,created_at,id,id_str,full_text,quote_count,reply_count,retweet_count,favorite_count,geo,lang,user_id_str,conversation_id,conversation_id_str,media_url_https,media_type,username,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,Thu May 25 17:30:13 +0000 2023,1.661790e+18,1.661790e+18,ðŸš¨ Tomorrow is the LAST day to register for ...,0,0,0,0,NaN,en,1.54186E+18,1.66179E+18,1.66179E+18,https://pbs.twimg.com/media/Fw_aQGzXsA0D8GT.jpg,photo,WoodStFitness,NaN,NaN,NaN
1,Thu May 25 05:25:33 +0000 2023,1.661600e+18,1.661600e+18,NAKITA UNG ZUMBA DANCE NATIN ðŸ˜­ðŸ¤£\n\nTREAS...,0,0,0,1,NaN,tl,1.26718E+18,1.6616E+18,1.6616E+18,NaN,NaN,curlyeggyy,NaN,NaN,NaN
2,Thu May 25 13:42:04 +0000 2023,1.661730e+18,1.661730e+18,Freestyle dance that is based on improvisation...,0,0,0,0,NaN,en,1.15175E+18,1.66173E+18,1.66173E+18,https://pbs.twimg.com/ext_tw_video_thumb/16617...,photo,AndUnifit,NaN,NaN,NaN
3,Thu May 25 03:28:06 +0000 2023,1.661570e+18,1.661570e+18,the top three touching moments for suk ðŸ’™ðŸ¥...,0,0,0,0,NaN,en,9.97897E+17,1.66157E+18,1.66157E+18,NaN,NaN,jjangjiwonxx,NaN,NaN,NaN
4,Thu May 25 06:09:53 +0000 2023,1.661620e+18,1.661620e+18,"I love makosa,zumba,salsa,rock and roll,dance ...",0,0,0,2,NaN,en,1.23097E+18,1.66162E+18,1.66162E+18,NaN,NaN,Kingshortyma,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12082,Sat May 20 19:03:51 +0000 2023,1.660000e+18,1.660000e+18,#motivation #training #bodybuilding #fit #goal...,0,0,0,0,NaN,qme,1.65772E+18,1.66E+18,1.66E+18,https://pbs.twimg.com/ext_tw_video_thumb/16599...,photo,NaN,NaN,NaN,NaN
12083,Sat May 20 19:44:00 +0000 2023,1.660010e+18,1.660010e+18,Fitness tip for busy ppl\n\nSpend extra dollar...,0,0,0,0,NaN,en,2853344869,1.66001E+18,1.66001E+18,NaN,NaN,NaN,NaN,NaN,NaN
12084,Sat May 20 19:17:16 +0000 2023,1.660000e+18,1.660000e+18,Get your heart pumping and your energy soaring...,0,0,1,1,NaN,en,1.62032E+18,1.66E+18,1.66E+18,https://pbs.twimg.com/media/FwmCu8NaMAE6d6S.jpg,photo,NaN,NaN,NaN,NaN
12085,Sat May 20 20:00:14 +0000 2023,1.660010e+18,1.660010e+18,May is 'Mental Health Month'. We asked some t...,0,0,0,0,NaN,en,1.60335E+18,1.66001E+18,1.66001E+18,https://pbs.twimg.com/media/FwmMo-5WIAcrJYZ.jpg,photo,NaN,NaN,NaN,NaN
12086,Sat May 20 18:49:20 +0000 2023,1.659990e+18,1.659990e+18,Transform in 30 days! ðŸŒŸ Join Trainer Alex P...,0,0,0,0,NaN,en,1.65855E+18,1.65999E+18,1.65999E+18,https://pbs.twimg.com/ext_tw_video_thumb/16599...,photo,NaN,NaN,NaN,NaN

In [ ]:
data.count()

created_at             12087
id                     12087
id_str                 12087
full_text              12087
quote_count            12087
reply_count            12087
retweet_count          12087
favorite_count         12087
geo                       30
lang                   12066
user_id_str            12082
conversation_id        12084
conversation_id_str    12087
media_url_https         4600
media_type              4592
username                8779
Unnamed: 16               12
Unnamed: 17                6
Unnamed: 18                3
dtype: int64

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12087 entries, 0 to 12086
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   created_at           12087 non-null  object
 1   id                   12087 non-null  float64
 2   id_str               12087 non-null  float64
 3   full_text            12087 non-null  object
 4   quote_count          12087 non-null  object
 5   reply_count          12087 non-null  object
 6   retweet_count        12087 non-null  object
 7   favorite_count       12087 non-null  int64
 8   geo                  30 non-null     object
 9   lang                 12066 non-null  object
 10  user_id_str          12082 non-null  object
 11  conversation_id      12084 non-null  object
 12  conversation_id_str  12087 non-null  object
 13  media_url_https      4600 non-null   object
 14  media_type           4592 non-null   object
 15  username             8779 non-null   object
 16  Unnamed: 16          12 non-null     object
 17  Unnamed: 17          6 non-null      object
 18  Unnamed: 18          3 non-null      object
dtypes: float64(2), int64(1), object(16)
memory usage: 1.8+ MB

In [ ]:
df = data[['full_text']]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12087 entries, 0 to 12086
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   full_text  12087 non-null  object
dtypes: object(1)
memory usage: 94.6+ KB

In [ ]:
df['full_text'] = df['full_text'].str.lower()
df

<ipython-input-9-ed884673a6a6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['full_text'] = df['full_text'].str.lower()

                                               full_text
0      ðÿš¨ tomorrow is the last day to register for ...
1      nakita ung zumba dance natin ðÿ˜­ðÿ¤£\n\ntreas...
2      freestyle dance that is based on improvisation...
3      the top three touching moments for suk ðÿ’™ðÿ¥...
4      i love makosa,zumba,salsa,rock and roll,dance ...
...                                                  ...
12082  #motivation #training #bodybuilding #fit #goal...
12083  fitness tip for busy ppl\n\nspend extra dollar...
12084  get your heart pumping and your energy soaring...
12085  may is  'mental health month'. we asked some t...
12086  transform in 30 days! ðÿœÿ join trainer alex p...

[12087 rows x 1 columns]

In [ ]:
df['full_text'] = df['full_text'].astype(str)

<ipython-input-10-6467f6b14f1f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['full_text'] = df['full_text'].astype(str)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12087 entries, 0 to 12086
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   full_text  12087 non-null  object
dtypes: object(1)
memory usage: 94.6+ KB

In [ ]:
df

                                               full_text
0      ðÿš¨ tomorrow is the last day to register for ...
1      nakita ung zumba dance natin ðÿ˜­ðÿ¤£\n\ntreas...
2      freestyle dance that is based on improvisation...
3      the top three touching moments for suk ðÿ’™ðÿ¥...
4      i love makosa,zumba,salsa,rock and roll,dance ...
...                                                  ...
12082  #motivation #training #bodybuilding #fit #goal...
12083  fitness tip for busy ppl\n\nspend extra dollar...
12084  get your heart pumping and your energy soaring...
12085  may is  'mental health month'. we asked some t...
12086  transform in 30 days! ðÿœÿ join trainer alex p...

[12087 rows x 1 columns]

# **Cleaning Text**

In [ ]:
df['full_text'] = df['full_text'].apply(lambda x: re.sub(r'\n', '', x))

<ipython-input-13-87abbee7df9f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['full_text'] = df['full_text'].apply(lambda x: re.sub(r'\n', '', x))

In [ ]:
df['full_text'] = df['full_text'].apply(lambda x: re.sub(r'[^a-zA-Z\s]', '', x))

<ipython-input-14-f90fd6b29712>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['full_text'] = df['full_text'].apply(lambda x: re.sub(r'[^a-zA-Z\s]', '', x))

In [ ]:
df['full_text'] = df['full_text'].apply(lambda x: re.sub(r'http\S+', '', x))
df

<ipython-input-15-a6263b2a4ea0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['full_text'] = df['full_text'].apply(lambda x: re.sub(r'http\S+', '', x))

                                               full_text
0       tomorrow is the last day to register for zumb...
1      nakita ung zumba dance natin nntreasure world ...
2      freestyle dance that is based on improvisation...
3      the top three touching moments for suk nn rain...
4      i love makosazumbasalsarock and rolldance hall...
...                                                  ...
12082  motivation training bodybuilding fit goals fit...
12083  fitness tip for busy pplnnspend extra dollar o...
12084  get your heart pumping and your energy soaring...
12085  may is  mental health month we asked some teac...
12086  transform in  days  join trainer alex pros jou...

[12087 rows x 1 columns]

# **Function**

In [ ]:
nltk.download('words')
nltk.download('punkt')
def remove_non_english_words(text):
    english_vocab = set(words.words())
    words_list = nltk.word_tokenize(text)
    english_words = [word for word in words_list if word.lower() in english_vocab]
    modified_text = ' '.join(english_words)
    return modified_text

[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Package words is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [ ]:
def separate_compound_words(text):
    separated_words = []
    words = text.split()
    for word in words:
        separated_words.extend(wordninja.split(word))
    separated_sentence = ' '.join(separated_words)
    return separated_sentence

# **Pre Processing**

In [ ]:
# df['full_text'] = df['full_text'].apply(separate_compound_words)

In [ ]:
# df['full_text'] = df['full_text'].apply(remove_non_english_words)

In [ ]:
df

                                               full_text
0       tomorrow is the last day to register for zumb...
1      nakita ung zumba dance natin nntreasure world ...
2      freestyle dance that is based on improvisation...
3      the top three touching moments for suk nn rain...
4      i love makosazumbasalsarock and rolldance hall...
...                                                  ...
12082  motivation training bodybuilding fit goals fit...
12083  fitness tip for busy pplnnspend extra dollar o...
12084  get your heart pumping and your energy soaring...
12085  may is  mental health month we asked some teac...
12086  transform in  days  join trainer alex pros jou...

[12087 rows x 1 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12087 entries, 0 to 12086
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   full_text  12087 non-null  object
dtypes: object(1)
memory usage: 94.6+ KB

In [ ]:
# df.to_csv('seperatedandremoved.csv', index=False) 

# files.download('seperatedandremoved.csv')

# **Clean Dataset**

In [ ]:
dataset1 = pd.read_csv(ds1)

nltk.download('stopwords')
stop_words = stopwords.words('english')
dataset1['text_nostop'] = dataset1['full_text'].apply(lambda x: ' '.join([word for word in str(x).split() if word not in (stop_words)]))
dataset1

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,full_text,text_nostop
0,tomorrow is the last day to register for these...,tomorrow last day register dance fantastic mus...
1,dance world map in,dance world map
2,dance that is based on improvisation rather th...,dance based improvisation rather choreography ...
3,the top three touching for rainbow dance,top three touching rainbow dance
4,i love and and recently added,love recently added
...,...,...
12082,motivation training fit,motivation training fit
12083,fitness tip for busy extra dollar or two on go...,fitness tip busy extra dollar two good tuna ol...
12084,get your heart and your energy soaring with ou...,get heart energy soaring invigorating workout ...
12085,may is mental health month we some and staff t...,may mental health month staff share care menta...
12086,transform in days join trainer journey discove...,transform days join trainer journey discover p...

In [ ]:
lemmatizer = WordNetLemmatizer()
dataset1['text_lemmatized'] = dataset1['text_nostop'].apply(lambda x: ' '.join([lemmatizer.lemmatize(word) for word in nltk.word_tokenize(x)]))
dataset1

,full_text,text_nostop,text_lemmatized
0,tomorrow is the last day to register for these...,tomorrow last day register dance fantastic mus...,tomorrow last day register dance fantastic mus...
1,dance world map in,dance world map,dance world map
2,dance that is based on improvisation rather th...,dance based improvisation rather choreography ...,dance based improvisation rather choreography ...
3,the top three touching for rainbow dance,top three touching rainbow dance,top three touching rainbow dance
4,i love and and recently added,love recently added,love recently added
...,...,...,...
12082,motivation training fit,motivation training fit,motivation training fit
12083,fitness tip for busy extra dollar or two on go...,fitness tip busy extra dollar two good tuna ol...,fitness tip busy extra dollar two good tuna ol...
12084,get your heart and your energy soaring with ou...,get heart energy soaring invigorating workout ...,get heart energy soaring invigorating workout ...
12085,may is mental health month we some and staff t...,may mental health month staff share care menta...,may mental health month staff share care menta...
12086,transform in days join trainer journey discove...,transform days join trainer journey discover p...,transform day join trainer journey discover po...

In [ ]:
dataset1['text_tokenized'] = dataset1['text_lemmatized'].apply(lambda x: str.split(x))
dataset1

,full_text,text_nostop,text_lemmatized,text_tokenized
0,tomorrow is the last day to register for these...,tomorrow last day register dance fantastic mus...,tomorrow last day register dance fantastic mus...,"[tomorrow, last, day, register, dance, fantast..."
1,dance world map in,dance world map,dance world map,"[dance, world, map]"
2,dance that is based on improvisation rather th...,dance based improvisation rather choreography ...,dance based improvisation rather choreography ...,"[dance, based, improvisation, rather, choreogr..."
3,the top three touching for rainbow dance,top three touching rainbow dance,top three touching rainbow dance,"[top, three, touching, rainbow, dance]"
4,i love and and recently added,love recently added,love recently added,"[love, recently, added]"
...,...,...,...,...
12082,motivation training fit,motivation training fit,motivation training fit,"[motivation, training, fit]"
12083,fitness tip for busy extra dollar or two on go...,fitness tip busy extra dollar two good tuna ol...,fitness tip busy extra dollar two good tuna ol...,"[fitness, tip, busy, extra, dollar, two, good,..."
12084,get your heart and your energy soaring with ou...,get heart energy soaring invigorating workout ...,get heart energy soaring invigorating workout ...,"[get, heart, energy, soaring, invigorating, wo..."
12085,may is mental health month we some and staff t...,may mental health month staff share care menta...,may mental health month staff share care menta...,"[may, mental, health, month, staff, share, car..."
12086,transform in days join trainer journey discove...,transform days join trainer journey discover p...,transform day join trainer journey discover po...,"[transform, day, join, trainer, journey, disco..."

In [ ]:
dataset2 = pd.read_csv(ds2)

stop_words = stopwords.words('english')
dataset2['text_nostop'] = dataset2['full_text'].apply(lambda x: ' '.join([word for word in str(x).split() if word not in (stop_words)]))
dataset2

,full_text,text_nostop
0,tomorrow is the last day to register for zum b...,tomorrow last day register zum ba kids high en...
1,n akita ung zum ba dance nat in nn treasure wo...,n akita ung zum ba dance nat nn treasure world...
2,freestyle dance that is based on improvisation...,freestyle dance based improvisation rather cho...
3,the top three touching moments for suk nn rain...,top three touching moments suk nn rainbow even...
4,i love mako s a zum basal s a rock and roll da...,love mako zum basal rock roll dance hall acrob...
...,...,...
12082,motivation training bodybuilding fit goals fit...,motivation training bodybuilding fit goals fit...
12083,fitness tip for busy ppl nn spend extra dollar...,fitness tip busy ppl nn spend extra dollar two...
12084,get your heart pumping and your energy soaring...,get heart pumping energy soaring invigorating ...
12085,may is mental health month we asked some teach...,may mental health month asked teachers staff s...
12086,transform in days join trainer alex pros journ...,transform days join trainer alex pros journey ...

In [ ]:
lemmatizer = WordNetLemmatizer()
dataset2['text_lemmatized'] = dataset2['text_nostop'].apply(lambda x: ' '.join([lemmatizer.lemmatize(word) for word in nltk.word_tokenize(x)]))
dataset2

,full_text,text_nostop,text_lemmatized
0,tomorrow is the last day to register for zum b...,tomorrow last day register zum ba kids high en...,tomorrow last day register zum ba kid high ene...
1,n akita ung zum ba dance nat in nn treasure wo...,n akita ung zum ba dance nat nn treasure world...,n akita ung zum ba dance nat nn treasure world...
2,freestyle dance that is based on improvisation...,freestyle dance based improvisation rather cho...,freestyle dance based improvisation rather cho...
3,the top three touching moments for suk nn rain...,top three touching moments suk nn rainbow even...,top three touching moment suk nn rainbow event...
4,i love mako s a zum basal s a rock and roll da...,love mako zum basal rock roll dance hall acrob...,love mako zum basal rock roll dance hall acrob...
...,...,...,...
12082,motivation training bodybuilding fit goals fit...,motivation training bodybuilding fit goals fit...,motivation training bodybuilding fit goal fitn...
12083,fitness tip for busy ppl nn spend extra dollar...,fitness tip busy ppl nn spend extra dollar two...,fitness tip busy ppl nn spend extra dollar two...
12084,get your heart pumping and your energy soaring...,get heart pumping energy soaring invigorating ...,get heart pumping energy soaring invigorating ...
12085,may is mental health month we asked some teach...,may mental health month asked teachers staff s...,may mental health month asked teacher staff sh...
12086,transform in days join trainer alex pros journ...,transform days join trainer alex pros journey ...,transform day join trainer alex pro journey di...

In [ ]:
dataset2['text_tokenized'] = dataset2['text_lemmatized'].apply(lambda x: str.split(x))
dataset2

,full_text,text_nostop,text_lemmatized,text_tokenized
0,tomorrow is the last day to register for zum b...,tomorrow last day register zum ba kids high en...,tomorrow last day register zum ba kid high ene...,"[tomorrow, last, day, register, zum, ba, kid, ..."
1,n akita ung zum ba dance nat in nn treasure wo...,n akita ung zum ba dance nat nn treasure world...,n akita ung zum ba dance nat nn treasure world...,"[n, akita, ung, zum, ba, dance, nat, nn, treas..."
2,freestyle dance that is based on improvisation...,freestyle dance based improvisation rather cho...,freestyle dance based improvisation rather cho...,"[freestyle, dance, based, improvisation, rathe..."
3,the top three touching moments for suk nn rain...,top three touching moments suk nn rainbow even...,top three touching moment suk nn rainbow event...,"[top, three, touching, moment, suk, nn, rainbo..."
4,i love mako s a zum basal s a rock and roll da...,love mako zum basal rock roll dance hall acrob...,love mako zum basal rock roll dance hall acrob...,"[love, mako, zum, basal, rock, roll, dance, ha..."
...,...,...,...,...
12082,motivation training bodybuilding fit goals fit...,motivation training bodybuilding fit goals fit...,motivation training bodybuilding fit goal fitn...,"[motivation, training, bodybuilding, fit, goal..."
12083,fitness tip for busy ppl nn spend extra dollar...,fitness tip busy ppl nn spend extra dollar two...,fitness tip busy ppl nn spend extra dollar two...,"[fitness, tip, busy, ppl, nn, spend, extra, do..."
12084,get your heart pumping and your energy soaring...,get heart pumping energy soaring invigorating ...,get heart pumping energy soaring invigorating ...,"[get, heart, pumping, energy, soaring, invigor..."
12085,may is mental health month we asked some teach...,may mental health month asked teachers staff s...,may mental health month asked teacher staff sh...,"[may, mental, health, month, asked, teacher, s..."
12086,transform in days join trainer alex pros journ...,transform days join trainer alex pros journey ...,transform day join trainer alex pro journey di...,"[transform, day, join, trainer, alex, pro, jou..."

In [ ]:
dataset3 = pd.read_csv(ds3)

stop_words = stopwords.words('english')
dataset3['text_nostop'] = dataset3['full_text'].apply(lambda x: ' '.join([word for word in str(x).split() if word not in (stop_words)]))
dataset3

,full_text,text_nostop
0,tomorrow is the last day to register for ba th...,tomorrow last day register ba high energy danc...
1,n ba dance nat in treasure world map in manila...,n ba dance nat treasure world map manila n map...
2,dance that is based on improvisation rather th...,dance based improvisation rather choreography ...
3,the top three touching for rainbow event n te ...,top three touching rainbow event n te u light ...
4,i love mako s a basal s a rock and roll dance ...,love mako basal rock roll dance hall recently ...
...,...,...
12082,motivation training fit fitness,motivation training fit fitness
12083,fitness tip for busy spend extra dollar or two...,fitness tip busy spend extra dollar two good t...
12084,get your heart and your energy soaring with ou...,get heart energy soaring invigorating car fitn...
12085,may is mental health month we some and staff t...,may mental health month staff share care menta...
12086,transform in days join trainer journey discove...,transform days join trainer journey discover p...

In [ ]:
lemmatizer = WordNetLemmatizer()
dataset3['text_lemmatized'] = dataset3['text_nostop'].apply(lambda x: ' '.join([lemmatizer.lemmatize(word) for word in nltk.word_tokenize(x)]))
dataset3

,full_text,text_nostop,text_lemmatized
0,tomorrow is the last day to register for ba th...,tomorrow last day register ba high energy danc...,tomorrow last day register ba high energy danc...
1,n ba dance nat in treasure world map in manila...,n ba dance nat treasure world map manila n map...,n ba dance nat treasure world map manila n map...
2,dance that is based on improvisation rather th...,dance based improvisation rather choreography ...,dance based improvisation rather choreography ...
3,the top three touching for rainbow event n te ...,top three touching rainbow event n te u light ...,top three touching rainbow event n te u light ...
4,i love mako s a basal s a rock and roll dance ...,love mako basal rock roll dance hall recently ...,love mako basal rock roll dance hall recently ...
...,...,...,...
12082,motivation training fit fitness,motivation training fit fitness,motivation training fit fitness
12083,fitness tip for busy spend extra dollar or two...,fitness tip busy spend extra dollar two good t...,fitness tip busy spend extra dollar two good t...
12084,get your heart and your energy soaring with ou...,get heart energy soaring invigorating car fitn...,get heart energy soaring invigorating car fitn...
12085,may is mental health month we some and staff t...,may mental health month staff share care menta...,may mental health month staff share care menta...
12086,transform in days join trainer journey discove...,transform days join trainer journey discover p...,transform day join trainer journey discover po...

In [ ]:
dataset3['text_tokenized'] = dataset3['text_lemmatized'].apply(lambda x: str.split(x))
dataset3

,full_text,text_nostop,text_lemmatized,text_tokenized
0,tomorrow is the last day to register for ba th...,tomorrow last day register ba high energy danc...,tomorrow last day register ba high energy danc...,"[tomorrow, last, day, register, ba, high, ener..."
1,n ba dance nat in treasure world map in manila...,n ba dance nat treasure world map manila n map...,n ba dance nat treasure world map manila n map...,"[n, ba, dance, nat, treasure, world, map, mani..."
2,dance that is based on improvisation rather th...,dance based improvisation rather choreography ...,dance based improvisation rather choreography ...,"[dance, based, improvisation, rather, choreogr..."
3,the top three touching for rainbow event n te ...,top three touching rainbow event n te u light ...,top three touching rainbow event n te u light ...,"[top, three, touching, rainbow, event, n, te, ..."
4,i love mako s a basal s a rock and roll dance ...,love mako basal rock roll dance hall recently ...,love mako basal rock roll dance hall recently ...,"[love, mako, basal, rock, roll, dance, hall, r..."
...,...,...,...,...
12082,motivation training fit fitness,motivation training fit fitness,motivation training fit fitness,"[motivation, training, fit, fitness]"
12083,fitness tip for busy spend extra dollar or two...,fitness tip busy spend extra dollar two good t...,fitness tip busy spend extra dollar two good t...,"[fitness, tip, busy, spend, extra, dollar, two..."
12084,get your heart and your energy soaring with ou...,get heart energy soaring invigorating car fitn...,get heart energy soaring invigorating car fitn...,"[get, heart, energy, soaring, invigorating, ca..."
12085,may is mental health month we some and staff t...,may mental health month staff share care menta...,may mental health month staff share care menta...,"[may, mental, health, month, staff, share, car..."
12086,transform in days join trainer journey discove...,transform days join trainer journey discover p...,transform day join trainer journey discover po...,"[transform, day, join, trainer, journey, disco..."

In [ ]:
nltk.download('punkt')
nltk.download('wordnet')
dataset1 = pd.read_csv(ds1)
dataset1
# Initialize the lemmatizer
lemmatizer = WordNetLemmatizer()

# Apply lemmatization to each text column in the DataFrame
for column in dataset1.select_dtypes(include='object'):
    dataset1[column] = dataset1[column].apply(lambda x: ' '.join([lemmatizer.lemmatize(word) for word in nltk.word_tokenize(x)]))

# Print the modified DataFrame
print(dataset1)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

TypeError: ignored

In [ ]:
dataset2 = pd.read_csv(ds2)
dataset2
# Initialize the lemmatizer
lemmatizer = WordNetLemmatizer()

# Apply lemmatization to each text column in the DataFrame
for column in dataset2.select_dtypes(include='object'):
    dataset2[column] = dataset2[column].apply(lambda x: ' '.join([lemmatizer.lemmatize(word) for word in nltk.word_tokenize(x)]))

# Print the modified DataFrame
print(dataset2)

In [ ]:
dataset3 = pd.read_csv(ds3)
dataset3
# Initialize the lemmatizer
lemmatizer = WordNetLemmatizer()

# Apply lemmatization to each text column in the DataFrame
for column in dataset3.select_dtypes(include='object'):
    dataset3[column] = dataset3[column].apply(lambda x: ' '.join([lemmatizer.lemmatize(word) for word in nltk.word_tokenize(x)]))

# Print the modified DataFrame
print(dataset3)